.header {
    height: 150px;
    background-color: #020417;
    text-align: center;
    color: #fff;
    padding: 20px;
}

body {
    margin: auto;
}

h1 {
    margin-top: 0px;
    font-size: 42px;
}

h2 {
    font-size: 34px;
}

h4 {
    font-size: 25px;
}

.question {
    background-color: #ffedf1;
    padding: 40px;
    margin: 0px 20px 20px 20px;
    border: 2px solid black;
}

.btn_result {
    font-size: 20px;
    color: cornsilk;
    background-color: crimson;
    height: 50px;
    width: 150px;
    border: 3px solid crimson;
}

.btn_result:hover {
    color: crimson;
    background-color: cornsilk;
}

.answer_section {
    margin: 20px;
    padding: 50px;
    background-color: #000;
    color: #e4b7cc;
    display: none;
}

.btn_show {
    font-size: 20px;
    color: #000;
    background-color: #e4b7cc;
    height: 50px;
    width: 150px;
    border: 3px solid #e4b7cc;
}

.btn_show:hover {
    color: #e4b7cc;
    background-color: #000;
}

.hidden {
    display: none;
}

#result10,
#result9,
#result1,
#result2,
#result3,
#result4,
#result5,
#result6,
#result7,
#result8 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.action_button {
    float: right;
}

.cross {
    width: 100%;
}

label {
    font-size: 18px;
}

.main_qdiv {
    padding: 20px;
    border: 2px solid pink;
}

.main_qdiv:hover {
    background-color: pink;
}